{{#renderChild 'button--neutral' 'button--primary' 'button--secondary' 'button--empty'}}
  <fieldset class="toggles">
    <legend class="label">View by:</legend>
    <label for="toggle-state-{{ index }}">
      <input id="toggle-state-{{ index }}" type="radio" name="receipt-aggregate--{{ index }}" value="by-state" checked>
      <span class="{{ className }}">State</span>
    </label>
    <label for="toggle-contribution-size-{{ index }}">
      <input id="toggle-contribution-size-{{ index }}" type="radio" name="receipt-aggregate--{{ index }}" value="by-contribution-size">
      <span class="{{ className }}">Contribution Size</span>
    </label>
    <label for="toggle-employer-{{ index }}">
      <input id="toggle-employer-{{ index }}" type="radio" name="receipt-aggregate--{{ index }}" value="by-employer">
      <span class="{{ className }}">Employer</span>
    </label>
    <label for="toggle-occupation-{{ index }}">
      <input id="toggle-occupation-{{ index }}" type="radio" name="receipt-aggregate--{{ index }}" value="by-occupation">
      <span class="{{ className }}">Occupation</span>
    </label>
  </fieldset>
{{/renderChild}}
