<div class="js-mobile-nav">
<div id="nav-data" class="site-nav__panel site-nav__panel--sub" aria-hidden="true">
  <button class="site-nav__back button--back button--alt-primary js-panel-close" aria-controls="nav-data">Back</button>
  <h3 class="site-nav__title">Campaign finance data</h3>
  <ul>
    <li class="site-nav__item site-nav__item--sub"><button class="site-nav__link button--nav-panel js-panel-trigger" aria-controls="nav-advanced">Advanced data</button></li>
    <li class="site-nav__item site-nav__item--sub is-disabled"><span class="site-nav__link">Interactive overviews</span></li>
    <li class="site-nav__block">
      <a class="site-nav__link--underline" href="{{webAppUrl}}">Profiles</a>
      <form action="{{webAppUrl}}" method="GET" autocomplete="off">
        <label class="t-sans" for="menu-search">Search for candidates</label>
        <div class="combo--search--mini">
          <input id="menu-search" name="search" class="combo__input js-menu-search" type="text"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false">
          <input type="hidden" name="search_type" value="candidates">
          <button class="combo__button button--search button--standard" type="submit"><span class="u-visually-hidden">Search</span></button>
        </div>
      </form>
    </li>
    <li class="site-nav__block">
      <a class="site-nav__link--underline" href="{{webAppUrl}}/elections">Locations</a>
      <form action="{{webAppUrl}}/elections?cycle={{cycle}}" method="GET">
        <label class="t-sans mega__item" for="menu-election-search">Find elections and candidates by ZIP code</label>
        <div class="combo--search--mini">
          <input id="menu-election-search" name="zip" class="combo__input" type="text">
          <button class="combo__button button--search button--standard" type="submit"><span class="u-visually-hidden">Search</span></button>
        </div>
      </form>
    </li>
  </ul>
</div>

<div id="nav-advanced" class="site-nav__panel site-nav__panel--sub" aria-hidden="true">
  <button class="site-nav__back button--back button--alt-primary js-panel-close" aria-controls="nav-advanced">Campaign finance data</button>
  <h3 class="site-nav__title"><a class="site-nav__link--underline" href="{{webAppUrl}}/advanced">Advanced data</a></h3>
  <ul>
    <li class="site-nav__item">
      <button class="site-nav__link button--nav-panel button--candidates js-panel-trigger" aria-controls="nav-advanced-candidates">Candidates</button>
    </li>
    <li class="site-nav__item">
      <button class="site-nav__link button--nav-panel button--committees js-panel-trigger" aria-controls="nav-advanced-committees">Committees</button>
    </li>
    <li class="site-nav__item">
      <button class="site-nav__link button--nav-panel button--receipts js-panel-trigger" aria-controls="nav-advanced-receipts">Receipts</button>
    </li>
    <li class="site-nav__item">
      <button class="site-nav__link button--nav-panel button--disbursements js-panel-trigger" aria-controls="nav-advanced-spending">Spending</button>
    </li>
    <li class="site-nav__item">
      <button class="site-nav__link button--nav-panel button--filings js-panel-trigger" aria-controls="nav-advanced-filings">Filings</button>
    </li>
  </ul>
</div>

<div id="nav-advanced-candidates" class="site-nav__panel site-nav__panel--sub" aria-hidden="true">
  <button class="site-nav__back button--back button--alt-primary js-panel-close" aria-controls="nav-advanced-candidates">Advanced data</button>
  <h3 class="site-nav__title"><a class="site-nav__link--underline"href="{{webAppUrl}}/candidates/?election_year=2012&election_year=2014&election_year=2016&has_raised_funds=true">Candidates - all</a></h3>
  <ul>
    <li class="site-nav__item site-nav__item--sub"><a class="site-nav__link" href="{{webAppUrl}}/candidates/president">Presidential</a></li>
    <li class="site-nav__item site-nav__item--sub"><a class="site-nav__link" href="{{webAppUrl}}/candidates/senate">Senate</a></li>
    <li class="site-nav__item site-nav__item--sub"><a class="site-nav__link" href="{{webAppUrl}}/candidates/house">House of Representatives</a></li>
  </ul>
</div>

<div id="nav-advanced-committees" class="site-nav__panel site-nav__panel--sub" aria-hidden="true">
  <button class="site-nav__back button--back button--alt-primary js-panel-close" aria-controls="nav-advanced-committees">Advanced data</button>
  <h3 class="site-nav__title"><a class="site-nav__link--underline" href="{{webAppUrl}}/committees/?election_year=2012&election_year=2014&election_year=2016">Committees - all</a></h3>
  <ul>
    <li class="site-nav__item site-nav__item--sub is-disabled"><a class="site-nav__link">Candidate committees</a></li>
    <li class="site-nav__item site-nav__item--sub is-disabled"><a class="site-nav__link">PACs</a></li>
    <li class="site-nav__item site-nav__item--sub is-disabled"><a class="site-nav__link">Super PACs</a></li>
  </ul>
</div>

<div id="nav-advanced-receipts" class="site-nav__panel site-nav__panel--sub" aria-hidden="true">
  <button class="site-nav__back button--back button--alt-primary js-panel-close" aria-controls="nav-advanced-receipts">Advanced data</button>
  <h3 class="site-nav__title"><a class="site-nav__link--underline" href="{{webAppUrl}}/receipts/">Receipts - all</a></h3>
  <ul>
    <li class="site-nav__item site-nav__item--sub"><a class="site-nav__link" href="{{webAppUrl}}/receipts/individual-contributions/">Individual contributions</a></li>
    <li class="site-nav__item site-nav__item--sub is-disabled"><a class="site-nav__link">Contributions from other committees</a></li>
  </ul>
</div>

<div id="nav-advanced-spending" class="site-nav__panel site-nav__panel--sub" aria-hidden="true">
  <button class="site-nav__back button--back button--alt-primary js-panel-close" aria-controls="nav-advanced-spending">Advanced data</button>
  <h3 class="site-nav__title">Spending</h3>
  <ul>
    <li class="site-nav__item site-nav__item--sub"><a class="site-nav__link" href="{{webAppUrl}}/disbursements/">All disbursements</a></li>
    <li class="site-nav__item site-nav__item--sub is-disabled"><a class="site-nav__link">Operating expenditures</a></li>
    <li class="site-nav__item site-nav__item--sub is-disabled"><a class="site-nav__link">Expenditures to committees</a></li>
    <li class="site-nav__item site-nav__item--sub"><a class="site-nav__link" href="{{webAppUrl}}/independent-expenditures?max_date={{today}}">Independent expenditures</a></li>
  </ul>
</div>

<div id="nav-advanced-filings" class="site-nav__panel site-nav__panel--sub" aria-hidden="true">
  <button class="site-nav__back button--back button--alt-primary js-panel-close" aria-controls="nav-advanced-filings">Advanced data</button>
  <h3 class="site-nav__title"><a class="site-nav__link--underline" href="{{webAppUrl}}/filings/?max_receipt_date={{tomorrow}}">Filings</a></h3>
  <ul>
    <li class="site-nav__item site-nav__item--sub"><a class="site-nav__link" href="{{webAppUrl}}/reports/presidential/?is_amended=false">Presidential committee reports</a></li>
    <li class="site-nav__item site-nav__item--sub"><a class="site-nav__link" href="{{webAppUrl}}/reports/house-senate/?is_amended=false">House and Senate committee reports</a></li>
    <li class="site-nav__item site-nav__item--sub"><a class="site-nav__link" href="{{webAppUrl}}/reports/pac-party/?is_amended=false">PAC and party committee reports</a></li>
    <li class="site-nav__item site-nav__item--sub"><a class="site-nav__link" href="{{webAppUrl}}/filings/?max_receipt_date={{tomorrow}}">All filings</a></li>
  </ul>
</div>
</div>
