<div class="mega">
  <div class="mega__inner">
    <div class="mega-heading">
      <h3 class="mega-heading__title"><a href="{{cmsUrl}}/legal-resources">Legal resources home</a></h3>
    </div>
    <ul class="usa-width-one-fourth">
      <li class="mega__item"><a href="{{cmsUrl}}/legal-resources/advisory-opinions">Advisory opinions</a></li>
      <li class="mega__item"><a href="{{cmsUrl}}/legal-resources/enforcement">Enforcement</a></li>
      <li class="mega__item"><a href="{{cmsUrl}}/legal-resources/statutes">Statutes</a></li>
    </ul>
    <ul class="usa-width-one-fourth">
      <li class="mega__item"><a href="{{cmsUrl}}/legal-resources/legislation">Legislation</a></li>
      <li class="mega__item"><a href="{{cmsUrl}}/legal-resources/regulations">Regulations</a></li>
      <li class="mega__item"><a href="{{cmsUrl}}/legal-resources/court-cases">Court cases</a></li>
    </ul>
  </div>
</div>
