<div class="mega">
  <div class="mega__inner">
    <div class="mega__group">
      <div class="mega__column">
        <div class="mega-heading">
          <h3 class="mega-heading__title icon-heading--profiles"><a href="{{webAppUrl}}">Profiles</a></h3>
        </div>
        <form action="{{webAppUrl}}" method="GET" autocomplete="off">
          <label class="t-sans mega__item" for="menu-search">Search for candidates</label>
          <div class="combo--search--mini">
            <input id="menu-search" name="search" class="combo__input js-menu-search" type="text"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false">
            <input type="hidden" name="search_type" value="candidates">
            <button class="combo__button button--search button--standard" type="submit"><span class="u-visually-hidden">Search</span></button>
          </div>
        </form>
      </div>
      <div class="mega__column">
        <div class="mega-heading">
          <h3 class="mega-heading__title icon-heading--overviews">Interactive overviews</h3>
        </div>
        <ul>
          <li class="mega__item"><a href="{{webAppUrl}}#raising">Raising</a></li>
          <li class="mega__item"><a href="{{webAppUrl}}#spending">Spending</a></li>
        </ul>
      </div>
      <div class="mega__column">
        <div class="mega-heading">
          <h3 class="mega-heading__title icon-heading--location"><a href="{{webAppUrl}}/elections">Location</a></h3>
        </div>
        <form action="{{webAppUrl}}/elections?cycle={{cycle}}" method="GET">
          <label class="t-sans mega__item" for="menu-election-search">Find elections and candidates by ZIP code</label>
          <div class="combo--search--mini">
            <input id="menu-election-search" name="zip" class="combo__input" type="text">
            <button class="combo__button button--search button--standard" type="submit"><span class="u-visually-hidden">Search</span></button>
          </div>
        </form>
      </div>
    </div>
    <div class="mega-heading">
      <h3 class="mega-heading__title icon-heading--table"><a href="{{webAppUrl}}/advanced">Advanced data - all</a></h3>
    </div>
    <div class="mega__group">
      <div class="mega__column">
        <div class="mega-heading--sub">
          <h4 class="mega-heading__title icon-heading--candidates"><a href="{{webAppUrl}}/candidates/?election_year=2012&election_year=2014&election_year=2016&has_raised_funds=true">Candidates - all</a></h4>
        </div>
        <ul>
          <li class="mega__item"><a href="{{webAppUrl}}/candidates/president">Presidential</a></li>
          <li class="mega__item"><a href="{{webAppUrl}}/candidates/senate">Senate</a></li>
          <li class="mega__item"><a href="{{webAppUrl}}/candidates/house">House of Representatives</a></li>
        </ul>
      </div>
      <div class="mega__column">
        <div class="mega-heading--sub">
          <h4 class="mega-heading__title icon-heading--receipts"><a href="{{webAppUrl}}/receipts/?is_individual=true">Receipts - all</a></h4>
        </div>
        <ul>
          <li class="mega__item"><a href="{{webAppUrl}}/receipts/individual-contributions/">Individual contributions</a></li>
          <li class="mega__item is-disabled">Contributions from other committees</li>
        </ul>
      </div>
      <div class="mega__column">
        <div class="mega-heading--sub">
          <h4 class="mega-heading__title icon-heading--filings">Filings</h4>
        </div>
        <ul>
          <li class="mega__item"><a href="{{webAppUrl}}/reports/presidential/?is_amended=false">Presidential committee reports</a></li>
          <li class="mega__item"><a href="{{webAppUrl}}/reports/house-senate/?is_amended=false">House and Senate committee reports</a></li>
          <li class="mega__item"><a href="{{webAppUrl}}/reports/pac-party/?is_amended=false">PAC and party committee reports</a></li>
          <li class="mega__item"><a href="{{webAppUrl}}/filings/?max_receipt_date={{tomorrow}}">All filings</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="mega__column">
        <div class="mega-heading--sub">
          <h4 class="mega-heading__title icon-heading--committees"><a href="{{webAppUrl}}/committees/?cycle=2012&cycle=2014&cycle=2016">Committees - all</a></h4>
        </div>
        <ul>
          <li class="mega__item is-disabled">Candidate committees</li>
          <li class="mega__item is-disabled">PACs</li>
          <li class="mega__item is-disabled">Super PACs</li>
        </ul>
      </div>
      <div class="mega__column">
        <div class="mega-heading--sub">
          <h4 class="mega-heading__title icon-heading--disbursements">Spending</h4>
        </div>
        <ul>
          <li class="mega__item"><a href="{{webAppUrl}}/disbursements/">All disbursements</a></li>
          <li class="mega__item mega__item__sub is-disabled">Operating expenditures</li>
          <li class="mega__item mega__item__sub is-disabled">Expenditures to committees</li>
          <li class="mega__item"><a href="{{webAppUrl}}/independent-expenditures?max_date={{today}}">Independent expenditures</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
