<div class="mega-container">
  <div class="mega">
    <div class="mega__inner">
      <div class="mega-heading">
        <h2 class="mega-heading__title"><a href="{{webAppUrl}}">Campaign finance home</a></h2>
      </div>
      <div class="row">
        <div class="usa-width-one-third">
          <p class="t-sans">Look up candidates and committees in federal elections and learn about the money raised and spent in our elections.</p>
          <p><a class="t-sans" href="{{webAppUrl}}">Get started &raquo;</a></p>
        </div>
        <div class="usa-width-one-third">
          <a class="mega__page-link" href="{{webAppUrl}}/advanced">Advanced data</a>
          <ul class="usa-width-one-half">
            <li class="mega__item"><a href="{{webAppUrl}}/advanced?tab=raising">Raising</a></li>
            <li class="mega__item"><a href="{{webAppUrl}}/advanced?tab=spending">Spending</a></li>
            <li class="mega__item"><a href="{{webAppUrl}}/advanced?tab=candidates">Candidates</a></li>
            <li class="mega__item"><a href="{{webAppUrl}}/advanced?tab=committees">Committees</a></li>
          </ul>
          <ul class="usa-width-one-half">
            <li class="mega__item"><a href="{{webAppUrl}}/advanced?tab=filings">Reports and filings</a></li>
            <li class="mega__item"><a href="{{webAppUrl}}/advanced?tab=other">Bulk data and other sources</a></li>
          </ul>
        </div>
        <div class="usa-width-one-third">
          <a class="mega__page-link" href="{{webAppUrl}}/elections">Elections</a>
          <ul>
            <li class="mega__item"><a href="{{webAppUrl}}/elections">Look up elections by election</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
